@charset "utf-8";

html,
body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: none;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #191919;
  height: 100%;
  background-color: #F4F2EE;
  text-wrap: wrap;
}

p {
  text-wrap: wrap;
  margin-bottom: 0px;

}

hr {
  border-top: 1px solid #DFDEDA;
  flex:auto;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.content {
  position: relative;
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0;
  left: 0;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.areas {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1;
  max-width: 1024px;
  justify-content: space-between;
  margin-right: 30px;
}

.area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  margin-top: 60px;
  width: auto;
}

header h1 {
  font-size: 48px;
  margin-top: 0px;
  line-height: 0px;
  text-align: center;
}

header h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 36px;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

a:link {
  color: #0A66C2;
}

a:visited {
  color: #8443CE;
}

a:hover {
  color: #004182;
}

a:active {
  color: #EBF4FD;
}

.image {
  display: block;
  background: #000;
  border: none;
  max-width: 622px;
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

.paragraph {
  margin-bottom: 6px;
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #DFDEDA;
  border-radius: 10px;
  max-width: 1024px;
  width: 95%;
}

.section {
  align-self: center;
  flex: 1;
  max-width: 1024px;
  width: 95%;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.section-header {
  margin-top: 45px;
}

.section-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 95%;
  background-color: #F4F2EE;
}

iframe {
  display: block;
  background: #000;
  border: none;
  max-width: 622px;
  height: 350px;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  max-width: 1024px;
  width: 95%;
  margin-left: 30px;
  margin-right: 30px;
  padding: 30px;
  background-color: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #DFDEDA;
  border-radius: 10px
}

.introduction.small-window {
  flex-direction: column;
}

.introduction.large-window {
  flex-direction: row;
}

#headshot {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%
}

#headshot.large-window {
  order: 10;
}

#headshot.small-window {
  order: 0;
}

#links {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}